body{
    background-color: #e9e9e9;
    font-family: 'Cairo', sans-serif;
    font-style: normal;
    max-height: max-content;
    margin: 0;
    /*padding: 0 0 300px 0;*/
    display: block;
    height: 100%;
}


.hello_text{
    font-size: 55px;
    font-weight: 700;
    width: 100%;
}

nav {
    background-color: white;
    /*width: 1000px;*/
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    width: 100%;
    /*margin: 0;*/
    margin-inline: 20px;
    display: flex;
    justify-content: space-between;
}

nav ul div{
    display: flex;
    /*margin-right: 10px;*/

}

nav li {
    margin-right: 20px;
}

nav li:last-child {
    margin-right: 0;
}

nav a {
    display: block;
    text-decoration: none;
    color: #5B5B5B;
    font-weight: bold;
    padding: 10px;
}

nav a.login {
    background-color: #333;
    padding: 10px 20px;
    border-radius: 5px;
}

.button {
    /*position: absolute;*/
    width: 125px;
    /*height: 56px;*/
    /*left: 1711px;*/
    top: 23px;
    background: #00BBFF;
    border-radius: 10px;
    color: white;
    alignment: center;
    border: none;
    margin-bottom: 10px;
    padding: 10px 20px;
    text-decoration: none;
    font-family: 'Cairo', sans-serif;
}

.container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.main_section{
    /*width: 40%;*/
    position: marker;
    left: 55px;
    /*top: 265px;*/
    height: 60%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 20px 10px;
}

.img{
    width: auto;
    /*height: 200px;*/
    display: block;
}

.suggested_section{
    /*width: 40%;*/
    position: marker;
    background-color: #00BBFF;
    /*left: 55px;*/
    /*top: 265px;*/
    /*height: 500px;*/
    /*width: vm;*/
    display: flex;
    text-align: right;
    justify-content: start;
    align-items: flex-end;
    flex-direction: column;
    padding: 10px;
    flex-wrap: wrap;
}

.suggested_section ul{
    /*display: flex;*/
    flex-direction: row-reverse;
    justify-content: end;
}

.button_inv{
    top: 23px;
    background: white;
    border-radius: 10px;
    color: #00BBFF;
    alignment: center;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
}

.suggested_section .button{
    align-self: center;
}

.doc_img{
    width: 200px;
    height: 150px;
    /*height: 200px;*/
    display: block;
    background-color: white;
    border-radius: 10px 10px 0 0;
}

.doctor{
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: start;
    align-content: flex-end;
    flex-direction: column;
    height: 310px;
    width: 200px;
    margin: 0 10px 10px 10px;
}

.doctor h3{
    padding-right: 10px;
    /*text-align: right;*/
    margin: 2px;
    color: black;
}

.doctor h2{
    padding-right: 10px;
    /*text-align: right;*/
    margin: 2px;
    color: #00BBFF;
}

.doctor a{
    margin: 10px;
    display: flex;
    justify-content: center;
}

.about_section{
    position: marker;
    display: block;
    text-align: right;
    justify-content: start;
    align-items: end;
    flex-direction: column;
    padding: 10px;
    flex-wrap: wrap;
}

.about_section .div{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.about_section img{
    width: 30%;
    /*height: 150px;*/
    /*height: 200px;*/
    display: block;
    /*background-color: white;*/
    border-radius: 10px;
}

.about_section h2{
    width: 65%;
    color: black;
}

.about_section h3{
    color: #00BBFF;
}

.footer{
    /*position: fixed;*/
    bottom: 0;
    left: 0;
    right: 0;
    height: 200px;
    background-color: #00BBFF;
    display: flex;
    text-align: right;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-content: center;
    align-self: center;
    align-items: center;
    padding: 10px;
}

.footer-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer .social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 200px;
    align-items: center;
}

.footer img{
    width: 30px;
    height: 30px;
    align-self: center;
    margin: 10px;
}

.footer h1, h2, p{
    color: white;
}

.doctor-page{
    /*width: 40%;*/
    position: marker;
    background-color: #f1f1f1;
    /*left: 55px;*/
    /*top: 265px;*/
    /*height: 500px;*/
    /*width: vm;*/
    display: flex;
    text-align: right;
    justify-content: start;
    align-items: flex-end;
    flex-direction: column;
    padding: 10px;
    flex-wrap: wrap;
}

.doctor-page ul{
    /*display: flex;*/
    flex-direction: row-reverse;
    justify-content: end;
}

.doctor-page .button{
    align-self: center;
    border: none;
}


.appointment-page{
    /*width: 40%;*/
    position: marker;
    background-color: #f1f1f1;
    /*left: 55px;*/
    /*top: 265px;*/
    /*height: 500px;*/
    /*width: vm;*/
    display: flex;
    text-align: right;
    justify-content: start;
    align-items: flex-end;
    flex-direction: column;
    padding: 10px;
    flex-wrap: wrap;
}


.appointment-page .button{
    align-self: center;
    border: none;
}

label[for^="id_"]:not([for="id_is_superuser"]):not([for="id_is_doctor"]):not([for="id_image"])
{
    display:none;
}

.col-div{
    width: 100%;
    height: 300px;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.row-div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.text-field{
    height: 65px;
    width: 30%;
    border-radius: 10px;
    background-color: white;
    text-align: right;
    margin: 10px;
    padding: 0 7px;
    border: 2px solid #00BBFF;
    font-family: 'Cairo', sans-serif;
}

.choice-field{
    /*height: 50px;*/
    width: 31%;
    border-radius: 10px;
    background-color: white;
    text-align: right;
    margin: 10px;
    padding: 0 7px;
    border: 2px solid #00BBFF;
    font-family: 'Cairo', sans-serif;
}

.num-field{
    height: 65px;
    width: 30%;
    border-radius: 10px;
    background-color: white;
    text-align: right;
    margin: 10px;
    padding: 0 7px;
    border: 2px solid #00BBFF;
    font-family: 'Cairo', sans-serif;
}

.datetime-field{
    height: 65px;
    width: 30%;
    border-radius: 10px;
    background-color: white;
    text-align: right;
    margin: 10px;
    padding: 0 7px;
    border: 2px solid #00BBFF;
    font-family: 'Cairo', sans-serif;
}

.register-page{
    width: 68%;
    /*height: 300px;*/
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    margin: 20px 0;
    padding-right: 20px;
}

.register-page div{
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    align-items: center;
    /*width: 30%;*/
    padding: 5px 0;
}

.register-page .text-field{
    width: 45%;
}

.check-field{
    /*width: 20px;*/
}

.file-field{
    /*height: 65px;*/
    padding-top: 5px;
    border-radius: 10px;
    -webkit-appearance: none;
    text-align: left;
    -webkit-rtl-ordering: logical;
    /*width: 30%;*/
}

.file-field::file-selector-button{
    margin-right: 20px;
    border: 2px solid #00BBFF;
    background: white;
    padding: 10px 20px;
    border-radius: 10px;
    color: #00BBFF;
    cursor: pointer;
    /*transition: background .2s ease-in-out;*/
}

.my-appointments-page{
    /*min-height: 100%;*/
    /*position: static;*/
    border-collapse: separate;
    width: 98%;
    margin: 10px;
}

.my-appointments-page td, th{
    /*float: right;*/
    /*list-style: none;*/
    /*display: flex;*/
    /*justify-content: end;*/
    /*height: 50px;*/
    /*background-color: #00BBFF;*/
    border-radius: 10px;
    /*padding: 0 20px;*/
    padding: 10px;
    text-align: center;
}

.my-appointments-page tr:nth-child(even) ,p{
    color: white;
    background-color: #00BBFF;
}

.my-appointments-page tr:nth-child(odd) ,.p{
    color: #00BBFF;
    background-color: white;
}
.my-appointments-page tr:nth-child(even) a  {
    color: white;
    text-decoration: none;
}

.my-appointments-page tr:nth-child(odd) a{
    color: #00BBFF;
    text-decoration: none;
}

.my-appointment-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 5px 0;
}

.my-appointment-buttons .button{
    width: 30%;
    border: none;
}

.complete-appointment{
    display: flex;
    min-height: 35vmax;
    flex-direction: column;
    justify-content: start;
    align-items: end;
}

.complete-appointment .text-field{
    resize: vertical;
    height: auto;
}

.note{
    min-height: 30vmax;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
}

.note div{
    display: flex;
    flex-direction: row;
    text-align: right;
    align-items: center;
    margin: 0 20px;

}

.note h3{
    color: #5B5B5B;
}

.note span{
    color: #00BBFF;
}

.login-page{
    min-height: 35vmax;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.login-page .div{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    color: #00BBFF;
}

.login-page img{
    width: 45%;
}

.login-page .div .text-field{
    width: 50%;
}

.edit-delete{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
    /*padding: 0;*/
}

.edit-delete-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #00BBFF;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    border: none;
    height: 50px;
    width: 80px;
}