{% extends 'index.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="appointment-page">
            <h3 style="color: #00BBFF">احجز موعداً</h3>
            <div class="col-div">
            <div class="row-div">
                {{form.doctor}}
                {{form.name}}
            </div>
            <div class="row-div">
                {{form.gender}}
                {{form.age}}
            </div>
            <div class="row-div">
                {{form.datetime}}
                {{form.phone}}
            </div>
        </div>
        <button class="button" type="submit"> حجز</button>
        </div>
    </form>
{% endblock %}
</body>
</html>