{% extends 'index.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
<form method="post">
{% csrf_token %}
    <div class="login-page">
        <img src="{% static 'img/login.png' %}" alt="">
        <div class="login-page div">
            <h1>تسجيل دخول</h1>
            {{ form.email }}
            {{ form.password }}
            <button class="button" type="submit"> login</button>
        </div>
    </div>
</form>
{% endblock %}
</body>
</html>